.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {

  padding: 20px;
  color: white;
}


.containerAlign{

  padding: 10px;
  font-size: 43px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;

}

.button-homepage{
  border-radius: 20px;
  margin: 10px;
  padding: 10px 45px 10px 45px;
  background: #FDC913;
  font-weight: bold;
  border: none;
}


.homePageHalfPizza{

  transform: rotate(180deg) scale(1.5);
  margin-top: 40%;
  

}
.button:hover{
  background: #c29e1a ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.maindivcenter {

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #CE2829;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orderPageHeader{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color:white;
  background-color: #CE2829;
  padding-bottom: 20px;
}

.form-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*
.container{

  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30%;
  padding-right: 30%;
}
*/

.form-wrapper {

  display: flex;
  flex-direction: column;
  background-color:white;
  width: 47%;

}

.price-rating-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.rating-wrapper{

   width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.size-dough-selection{

  display: flex;
  justify-content: flex-start;
  gap: 47%;

}

.radio-size-selection{

  display: flex;
  flex-direction: column;
  gap: 10px;

}

.extra-checkbox-selection{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px;
  margin-bottom: 60px;

}

.order-note{

width: 99%;
height: 30px;
border-radius: 5px;
}

.hr-style{

  padding: 20px 0px;
  
}

.result{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
    

}

.quantify{

}

.totalPrice{
  
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 40%;
  gap: 10px;

}

.price-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}